<div class="container">
    <h1> Edit Article </h1>
    <div class="row">

        <form action="/blog/edit/<%=x%>" method="POST">
            <div class="form-group">
                <label for="user">Heading:</label>
                <input class="form-control" type="text" name="heading" value="<%= blog.heading %>" id="heading">
            </div>

            <div class="form-group">
                <label for="user">Course ID:</label>
                <input class="form-control" type="text" name="cid" placeholder="<%= blog.cid %>" id="cid" disabled>
            </div>

            <div class="form-group">
                <label for="user">By:</label>
                <input class="form-control" type="text" name="username" placeholder="<%= blog.username %>" id="username"
                    disabled>
            </div>

            <div class="form-group">
                <label for="user">Description:</label>
                <input class="form-control" type="text" name="description" value="<%= blog.title %>" id="description">
            </div>

            <div class="form-group">
                <label for="user">explanation:</label>
                <textarea class="form-control" type="text" name="explanation" value="<%= blog.explanation %>"
                    id="explanation"></textarea>
            </div>

            <div class="form-group">
                <label for="user">Image URL:</label>
                <input class="form-control" type="text" name="images" value="<%= blog.images %>" id="images">
            </div>


            <a class="btn btn-secondary" href="/"> Cancel</a>
            <button class="btn btn-primary" type="submit"> Submit</button>

        </form>
    </div>
</div>