<style>
    * {
        margin: 0%;
        padding: 0%;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }

    input[type=text],
    select,
    textarea {
        width: 70%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    a[id=cancil] {
        text-decoration: none;
        text-align: center;
        width: 20%;
        background-color: #c4c3c3;
        color: rgb(2, 2, 2);
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: all 1s;
    }

    a[id=cancil]:hover {
        background-color: rgb(190, 22, 22);
        color: white;
    }

    textarea {
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }


    div {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }

    .form-group {
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }

    button[id=submit] {
        width: 25vw;
        background-color: #3cbe42;
        color: black;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: all 300ms;
    }

    button[id=submit]:hover {
        background-color: #24c22c;
        color: white;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .container {
        text-align: center;
        border-radius: 1rem;
        width: 90vw;
        margin: auto;
    }

    label {
        font-size: 1.2rem;
    }

    @media only screen and (max-width: 400px) {
        body {
            width: 100vw !important;
        }

        div {
            display: flex;
            flex-direction: column;
        }

        .container {
            margin: auto;
            width: 80vw;
            text-align: left;
        }

        input[type=text],
        select,
        textarea {
            width: 100%;
        }
    }
</style>

<div class="container">
    <h1> Hello, <%= pde.username %>
    </h1>

    <form action="/dashboard/edit/" method="POST">

        <div class="form-group">
            <label for="type">Type:</label>
            <input class="form-control" type="text" name="type" placeholder="<%= pde.type %>" id="type" disabled>
        </div>

        <div class="form-group">
            <label for="Username">Name:</label>
            <input class="form-control" type="text" name="username" placeholder="<%= pde.username %>" id="username"
                disabled>
        </div>


        <div class="form-group">
            <label for="address">Address:</label>
            <input class="form-control" type="text" name="address" value="<%= pde.address %>" id="address">
        </div>

        <div class="form-group">
            <label for="gender">Gender:</label>
            <input class="form-control" type="text" name="gender" value="<%= pde.gender %>" id="gender">
        </div>


        <div class="form-group">
            <label for="school">School Name:</label>
            <input class="form-control" type="text" name="school" value="<%= pde.school %>" id="cid">
        </div>

        <div class="form-group">
            <label for="subjects">Subjects:</label>
            <input class="form-control" type="text" name="subjects" value="<%= pde.subjects %>" id="subjects">
        </div>

        <div class="buttons">
            <a class="btn btn-secondary" id="cancil" href="/"> Cancel</a>
            <!-- <a class="btn btn-primary" id="accept" href="/"> Submit</a> -->
            <button class="btn btn-primary" id="submit" type="submit"> Submit</button>
        </div>

    </form>
</div>