<style>
    * {
        margin: 0%;
        padding: 0%;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }

    #sbody img {
        max-width: 100%;
        max-height: 100vh;
    }

    img {
        width: 50%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    iframe {
        display: block;
        margin: auto;
        width: 80vw;
        height: 80vh;
    }

    .container{
        background-color: rgb(253, 240, 220);
        border-radius: 1rem;
        width: 80vw;
        margin: auto;
    }
</style>

<!-- <div class="btn btn-warning">
    <a href="/blog/add"> Add blog</a>
</div> -->



<div class="container" style="margin: 50px auto;background-color: rgb(255, 255, 255);padding:20px">


    <h1 style="text-align: center;">
        <%= blog.heading %>
    </h1>

    <div id="blog-status" style="text-align: right;"> By :
        <%= blog["username"] %>

        <% var x= "just now" ;var y=blog.did;if( time - y >= 525600){ x= (parseInt((time - y )/ 525600))+" years ago"; } else if( time - y >=43200){ x= (parseInt((time - y )/ 43200))+" months ago" } else if( time - y >=10800){ x= (parseInt((time - y )/ 10800))+" weeks ago" }else if( time - y >=1440){ x= (parseInt((time - y )/ 1440))+" days ago" } else if( time - y >=60){ x= (parseInt((time - y )/ 60))+" hours ago" }else if( time - y >=0){ x= (parseInt((time - y )))+" min ago" }   %>
        <% if (x[0] == '0') { x = "Just now" }%>

        <%= x %>
    </div>
    <hr>
    <div>
        <img src=" <%- blog.images %> " alt="">
    </div>
    <br><br>
    <h2 style="text-align: center;">Description</h2>
    <br>
    <div id="description" style="margin: 5px; text-align: center;">
        <%= blog.description %>
    </div>
    <br><br>
    <div id="ml">

        <iframe src="<%= blog.ml %>" frameborder="0" height="400px" width="700px"></iframe>

    </div>

    <br><br>

    <div style="border-left: 5px grey solid; padding:20px; margin-top: 10px; margin-bottom: 10px; margin-left: 1px;"
        id="explanation">
        <h2>Explanation</h2>
        <%- blog.sanitizedHtml %>
    </div>

</div>

</div>